# Assignment 5
IS 362- CUNY SPS

In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# csv source is https://github.com/hadley/nycflights13/tree/master/data-raw 
# cloned to my local folder

FILEPATH = %pwd # it store the path of the notebook file
CSV_FILE = FILEPATH + '\\airports.csv'  # csv is saved in same directory as notebook

### Q1. What is the northernmost airport in the United States?

The dataset shows that "***Dillant Hopkins Airport***" is the northernmost airport in the United States. Its seems data is incorrect according to <a href = "http://www.flightstats.com/go/Airport/airportDetails.do?airportCode=EEN"> 'Flight Global'</a>, the Latitude and Longtitude of <b>Dillant Hopkins Airprot</b> is 42.900833 / -72.270836. Alaska is northen most territory of United States and "**Wiley Post Will Rogers Memorial Aiport**" is the northnernmost airport in the U.S.

In [52]:
AIRPORTS_DATA.sort_values(by = 'lat', ascending = False).head(5) # with top 5 airports by latitude

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5.0,A,\N
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9.0,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9.0,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9.0,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9.0,A,America/Anchorage

### Q2. What is the easternmost airport in the United States?
The dataset shows the "***Eareckson As Airport***" in Alaska is the easternmost airport in U.S. Based on <a href="https://tools.wmflabs.org/osm4wiki/cgi-bin/wiki/wiki-osm.pl?project=en&article=List_of_extreme_points_of_the_United_States&section=Easternmost+points">OpenStreet EasternPoint Map </a> & <a href="https://www.airlinepilotforums.com/hangar-talk/53045-most-extreme-airports-us.html">Airline Pilot Control </a> **EastPort Municipal Airport** is the eastern most airport in the United States.

In [53]:
AIRPORTS_DATA.sort_values(by = 'lon', ascending = False).head(5) # with top 5 airports by longtitude

,faa,name,lat,lon,alt,tz,dst,tzone
1290,SYA,Eareckson As,52.712275,174.113620,98,-9.0,A,America/Anchorage
942,MYF,Montgomery Field,32.475900,117.759000,17,8.0,A,Asia/Chongqing
396,DVT,Deer Valley Municipal Airport,33.411700,112.457000,1478,8.0,A,Asia/Chongqing
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5.0,A,\N
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5.0,A,America/New_York

### Q3. On February 12th, 2013, which New York area airport had the windiest weather
To answer this question, we are going to import weather.csv.

In [59]:
WEATHER_FILE = FILEPATH + '\\weather.csv'
WEATHER_DATA = pd.read_csv(WEATHER_FILE)
WEATHER_DATA.head(5)

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0,2013-01-01T00:00:00Z
1,EWR,2013,1,1,1,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0,2013-01-01T01:00:00Z
2,EWR,2013,1,1,2,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0,2013-01-01T02:00:00Z
3,EWR,2013,1,1,3,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0,2013-01-01T03:00:00Z
4,EWR,2013,1,1,4,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0,2013-01-01T04:00:00Z

In [61]:
# Filtering data based on our requirements
WEATHER_DATA[(WEATHER_DATA['year'] == 2013)
             & (WEATHER_DATA['month'] == 2)
             & (WEATHER_DATA['day']== 12)].sort_values(by='wind_gust', ascending = False).head(5)

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
1015,EWR,2013,2,12,8,39.02,26.96,61.63,260.0,1048.36058,1206.432388,0.0,1008.3,10.0,2013-02-12T08:00:00Z
18433,LGA,2013,2,12,7,42.98,26.06,50.94,290.0,23.01560,26.485892,0.0,1007.1,10.0,2013-02-12T07:00:00Z
1024,EWR,2013,2,12,17,44.06,26.06,48.87,270.0,21.86482,25.161598,0.0,1012.5,10.0,2013-02-12T17:00:00Z
18444,LGA,2013,2,12,18,44.06,23.00,43.02,300.0,21.86482,25.161598,0.0,1011.7,10.0,2013-02-12T18:00:00Z
9728,JFK,2013,2,12,13,42.08,24.08,48.56,280.0,20.71404,23.837303,0.0,1011.6,10.0,2013-02-12T13:00:00Z

According to the dataset, EWR had the windiest weather. Since LGA & JFK is the NY's airport and EWR is Newark Airport, **LGA** had windiest weather.